Repository SEMOSS/semoss-ui, pull requests merged in 2025-04, with the labels that each got.

#752 Client components and Mermaid variations
  libs/renderer/src/components/shared/DataImportFormModal.tsx
  libs/renderer/src/store/state/state.store.ts
  packages/client/src/components/blocks-workspace/menus/default-menu.ts
  packages/client/src/components/blocks-workspace/panels/BlocksMenuPanel.tsx
Labels: working-prototype

#756 Resolve 'Members Page Search Pagination Bug'
  packages/client/src/components/settings/UserTable.tsx
Labels: Bug

#802 Resolve 'Members Page: Delete Multiple Members Bug'
  packages/client/src/components/settings/UserTable.tsx
Labels: Bug

#982 test(ui): add test for Switch Block
  libs/renderer/src/testing/block-defaults/SwitchBlock.spec.tsx
Labels: Test

#991 857 Progress Block Test Cases
  libs/renderer/src/testing/block-defaults/ProgressBlock.spec.tsx
  libs/renderer/src/testing/block-defaults/RadioBlock.spec.tsx
  libs/renderer/src/testing/utils/index.tsx
  packages/client/src/components/settings/UserTable.tsx
  packages/client/src/components/settings/UserTablePopover.tsx
Labels: Test

#1018 730 audio block test
  libs/renderer/src/testing/block-defaults/AudioBlock.spec.tsx
Labels: Test
